<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="filter">
  <%= render partial: 'search_form', locals: { object: @facade.filter_form } %>
</div>

<div id="posts">
  <%= render @facade.posts %>
</div>

<%= link_to "New post", new_post_path %>
